@import "tailwindcss";
@import "@cspaglu/tailwind-config";
@import "@cspaglu/ui/styles.css";


@custom-variant dark (&:where(.dark, .dark *));



/* Base Theme */
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Typography */
  --font-body: "Inter", "sans-serif";
  --font-heading: "Satoshi", "sans-serif";
  --color-primary: oklch(0.84 0.18 117.33);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.2 0 0);
  --color-muted: oklch(0.93 0.01 280);

  /* Easing */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: oklch(0.84 0.18 117.33);
    --color-background: oklch(1 , 0.1 , 0);
    --color-foreground: oklch(1 0 0);
    --color-muted: oklch(0.2 0.01 280);
  }
}
